{% extends "base_generic.html" %}

{% block content %}
  <h1>Booking of {{ date }}</h1>

  {% if is_joined == False and reached_limit == False %}
    <form action="/create_booking/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="date" value="{{ date }}" />

      <button type='submit' class="btn-success m-3 p-1 rounded">JOIN</button>
    </form>
  {% endif %}

  {% if is_joined %}
    <form action="/delete_booking/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="date" value="{{ date }}" />
      <button type='submit' class="btn-danger m-3 p-1 rounded">REMOVE</button>
    </form>
  {% endif %}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Full name</th>
        </tr>
      </thead>
      {% for index, booking in bookings_from_day %}
        <td> {{ index }}</td>
        <td> {{ booking.user.get_full_name }}</td>
      {% endfor %}
    </table>
  </div>
{% endblock %}